.home-bgcolor
{
    width:14%;
    height:635px;
    background-color:#fcd29f;
    float: left;
    z-index: -1;
}
.home-bgcolor2
{
    width:14%;
    height:635px;
    background-color:#fcd29f;
    float: right;
    z-index: -1;
}
.home-root
{
    padding: 0 0 0;
    position: relative;
    background-color:#fcd29f;
    height: 775px;
}

.home-clear
{
    clear: both;
}

.home-wall
{
    width:70%;
    float:left;
    z-index:0;
    position: relative;
    margin-top: 2.5%
}