.overflow-scrolling-inHome_casePresent
{
    overflow-y: scroll;
    background-color:#fde0d3;
    width:103%;
    float: left;
    height: 300px ;
}

.home_case_img-img
{
    min-height: 50%;
    max-width: 150px; 
    width:150px;
    height:150px;
    margin-left:30px;
    margin-top:40px;
    
}

.home_case_img-root
{
    padding: 0 0 0;
    position: relative;
    display: inline;

}

.home_casePresent-wall
{
    
    margin-top:0px;
    float: left;
}
.home_case_img-name
{
   text-align: center;
}