.overflow-scrolling-inHome_casePresent
{
    overflow-y: scroll;
    background-color:#fde0d3;
    width:103%;
    float: left;
    height: 500px ;
}

.home_casePresent-img
{
    min-height: 50%;
    max-width: 150px; 
    width:150px;
    height:150px;
    margin-left:46px;
    margin-top:40px;
}

.home_casePresent-root
{
    padding: 0 0 0;
    position: relative;
    
}

.home_casePresent-wall
{
    width:100%;
    margin-top:0px;
    float: left;
}